$heightHeader : 10vh;
$heightFooter : 10vh;
$main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$strong-color: #28df99;
$normal-color: #99f3bd;
$medium-color: #d2f6c5;
$light-color: #f6f7d4;

