@import "../commons/variables";
@import "../commons/mixins";


.mainSection {
    height: Calc(100vh - ($heightHeader + $heightFooter));
    display: flex;
    align-items: center;
    padding: 0px 90px;
    background-color: $light-color;
    p {
        margin: 0;
        font-family: $main-font;
    }
    article {
        padding: 0 50px;
        height: 80%;
        text-align: justify;
        h1 {
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 2px;
        }
    }
    aside {
        height: 80%;
        img {
            height: 100%;

        }
    }
}