@import "./componentes/commons/variables";
@import "./componentes/commons/mixins";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1, p, a {
  font-family: $main-font;
}

a {
  margin: 0px 15px;
  color: black;
  font-size: 15px;
}